form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 8px auto;
}

main hr {
    margin: 0 24px;
    border-color: #555555;
    background-color: #555555;
    color: #555555;
}

 
input{
    height: 39px;
    border: 6px inset rgba(255, 0, 0, 0.516);
    border-radius: 15px;
    background: ghostwhite;
    outline: none;
    padding: 8px 6.9px ;
}

button {
    width: 220px;
    background: gold;
    padding: 3px;
    padding: 38px 6.9px ;
    border-radius: 7px;
}

button:hover {
    background-color: gold;
    border-color: red;
    color: ghostwhite;
    transform: scale(1.1);
}



span.username {
    font-weight: bold;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats .stat {
    display: flex;
    flex-direction: row;
}

.stats .stat > * {
    display: flex;
    width: 50%;
}

.stat .label {
    justify-content: flex-end;
}

.stat .value {
    justify-content: flex-start;
}
